*{
    margin: 0;
    padding: 0;
}
body{
    background: url(/picture/bgc.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 400px;
    border: 1px solid black;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 36px;
}

p{
    margin: 0.75rem 0 0.1rem 0 ;
}
#re-Cb{
    margin: 0.5rem 0 2rem 0;
}
#re-Cb:hover{
    cursor: pointer;
}

#Em , #Pw ,#re-Us{
    height: 1.25rem;
    width: 14rem;
    padding: 2px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
}
#Pw {
    margin-bottom: 0.25rem;
}
.re-btn {
    width: 10rem;
    height: 3rem;
    font-size: 20px;
    border: none;
    background-color: rgb(86, 194, 236);
    border-radius: 50px;
    transition: 0.5s ease;
    margin-top: 1rem;
}
.re-btn:hover{
    cursor: pointer;
    background-color: rgb(88, 160, 255);
    transition: 0.5s;
}

.register {
    padding-top: 1rem;
}
span a{
    text-decoration: none;

}